@{
    Layout = "~/Views/Shared/_Layout_SM.cshtml";
}

<html>
<head>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Inventory Status"
                },
                toolTip: {
                    shared: true
                },
                axisY: {
                    title: "Available Stocks"
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "center",
                    horizontalAlign: "right",
                    itemclick: toggleDataSeries
                },
                data: [{
                    type: "stackedColumn",
                    name: "ReOrder Level",
                    showInLegend: "true",
                    dataPoints: @Html.Raw(ViewBag.DataPoints_1)
        },
            {
                type: "stackedColumn",
                name: "Balance",
                showInLegend: "true",
                dataPoints: @Html.Raw(ViewBag.DataPoints_2)
            }]
});
        chart.render();

        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            }
            else {
                e.dataSeries.visible = true;
            }
            chart.render();
        }

}
    </script>
</head>
<body>

    @*@Html.BeginForm()*@
    @*{*@

    <form>
        </br>
        Select the Category:
        <select name="myDropDownList" >
            <option value="Clip">Clip</option>
            <option value="Envolope">Envolope</option>
            <option value="Eraser">Eraser</option>
            <option value="Exercise">Exercise</option>
            <option value="File">File</option>
            <option value="Pen">Pen</option>
            <option value="Puncher">Puncher</option>
            <option value="Pad">Pad</option>
            <option value="Ruler">Ruler</option>
            <option value="Scissors">Scissors</option>
            <option value="Tape">Tape</option>
            <option value="Sharpener">Sharpener</option>
            <option value="Shorthand">Shorthand</option>
            <option value="Stapler">Stapler</option>
            <option value="Tacks">Tacks</option>
            <option value="Tparency">Tparency</option>
            <option value="Tray">Tray</option>
        </select>
        <input type="submit" value="Submit" class="btn btn-primary" />
        <br />
    </form>

    @*}*@
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>               