

@{
    ViewBag.Title = "Department Head Dashboard";
}

@{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}


<h2>HOD Dashboard</h2>

<a href="@Url.Action("ViewRequisition","RequisitionApprovals")" class="button">Requistion Approvals</a>
<a href="@Url.Action("ViewAllRequisition","RequisitionApprovals")" class="button">View all Requistion </a>
<a href="@Url.Action("ManageCollection","CollectionPoint")" class="button">Manage Collection</a>
<a href="@Url.Action("CreateDelegation","Delegation")" class="button">Manage Delegation </a>

<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
    }

    .button {
        background-color: #0000ff; /* Green */
        border: none;
        color: white;
        padding: 80px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: 20px 20px;
        cursor: pointer;
        width: 20%;
        border-radius: 2px;
    }
</style>