

@{
    ViewBag.Title = "Department Head Dashboard";
}

@{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/newst.css">

</head>

<h2>HOD Dashboard</h2>

<a href="@Url.Action("ViewRequisition","RequisitionApprovals")" class="button">Requistion Approvals</a>
<a href="@Url.Action("ViewAllRequisition","RequisitionApprovals")" class="button">View all Requistion </a>
<a href="@Url.Action("ManageCollection","CollectionPoint")" class="button">Manage Collection</a>
<a href="@Url.Action("ManageDelegation","Delegations")" class="button">Manage Delegation </a>

