
@{
    ViewBag.Title = "Employee Dashboard";
}

@{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}




        
                
                <a href="@Url.Action("Index","Requisition")" class="button">
                    <i class="fa fa-user fa-100x"></i><br />
                    Make Requistion <br><br>
                </a>
                <a href="@Url.Action("TrackRequesition","RequisitionApprovals")" class="button">
                    <i class="fa fa-user fa-100x"></i><br />
                    Track Requisition <br><br>
                </a>
                <a href="@Url.Action("Display","CollectionPoint")" class="button">
                    <i class="fa fa-user fa-100x"></i><br />
                    View Collection Point <br> <br>
                </a>
       


<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove ;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 100px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 20px;
        cursor: pointer;
        border-radius: 2px;
    }
</style>
