
@{
    ViewBag.Title = "Employee Dashboard";
}
@{
    string sessionId = (string)ViewData["sessionId"];
}
@{
    Layout = "~/Views/Shared/_Layout_DS.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/newst.css">
  
</head>

<h2>Staff Dashboard</h2>
<a href="@Url.Action("Index","Requisition")" class="button">
    <i class="fa fa-user fa-100x"></i><br />
    Make Requistion <br><br>
</a>
<a href="@Url.Action("TrackRequisition","RequisitionApprovals")" class="button">
    <i class="fa fa-user fa-100x"></i><br />
    Track Requisition <br><br>
</a>
<a href="@Url.Action("Display","CollectionPoint")" class="button">
    <i class="fa fa-user fa-100x"></i><br />
    Collection Point <br> <br>
</a>


