@{
    Layout = "~/Views/Shared/_Layout_DH.cshtml";
    string sessionId = (string)ViewData["sessionId"];
    string Role = (string)ViewData["Role"];
}
@{
    if (Role == "DEP_MNGR")
    {
        Layout = "~/Views/Shared/_Layout_DH.cshtml";
    }
    else if (Role == "DEP_STAFF")
    {
        Layout = "~/Views/Shared/_Layout_DS.cshtml";
    }
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Action("~/scripts/jquery-3.3.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Action("~/scripts/bootstrap.min.js")"></script>
    <script>
        function updatecp()
        {

            window.location.href = '@Url.Action("AppointDelegation", "Delegations",new { sessionId=sessionId})'
        }

        function updateur()
        {

            window.location.href = '@Url.Action("ViewDelegation", "Delegations",new { sessionId=sessionId})'
        }
    </script>
</head>
<body>
    <br /><br />
    <div class="container-fluid py-4">
        <h4 class="text-center text-uppercase">manage delegation</h4>
    </div>
    <div class="container">

        <form>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="optradio" onclick="updatecp()">Appoint Delegation
                </label>
            </div>
            <br />
            <div>
                <label class="radio-inline">
                    <input type="radio" name="optradio" onclick="updateur()">View Delegation
                </label>
            </div>
            
            

        </form>
    </div>

</body>
</html>



