body {
    font-family: Arial;
    color: black;
    text-align: center;
    line-height: 1em;
}

h1 {
    font-family: Impact, Arial;
    font-size: 4em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: black;
}

h2 {
    font-family: Impact, Arial;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding: 2em;
    color: black;
}

tr {
    font-family: Arial;
    line-height: 1em;
    padding: 2px;
    text-align: center;
    color: black;
    /*border: 1px solid #d9d9d9;*/
    height: 50px;
}

td {
    font-family: Arial;
    line-height: 1em;
    padding: 2px;
    text-align: center;
    color: black;
    /*border: 1px solid #d9d9d9;*/
    height: 50px;
    vertical-align: central;
}

table {
    align-content: center;
    width: 60%;
    /*border: 1px solid #d9d9d9*/
}